[submodule "Aoc2015Tests/inputs"]
	path = Aoc2015Tests/inputs
	url = ../Aoc2015Inputs.git
[submodule "Aoc2016Tests/inputs"]
	path = Aoc2016Tests/inputs
	url = ../Aoc2016Inputs.git
[submodule "Aoc2019Tests/inputs"]
	path = Aoc2019Tests/inputs
	url = ../Aoc2019Inputs.git
[submodule "Aoc2020Tests/inputs"]
	path = Aoc2020Tests/inputs
	url = ../Aoc2020Inputs.git
[submodule "Aoc2022Tests/inputs"]
	path = Aoc2022Tests/inputs
	url = ../Aoc2022Inputs.git
[submodule "Aoc2023Tests/inputs"]
	path = Aoc2023Tests/inputs
	url = ../Aoc2023Inputs.git
[submodule "Aoc2024Tests/inputs"]
	path = Aoc2024Tests/inputs
	url = ../Aoc2024Inputs.git
[submodule "Aoc2025Tests/inputs"]
	path = Aoc2025Tests/inputs
	url = ../Aoc2025Inputs.git
